<!-- Usage:
    <attributes v-model="character"></attributes>
-->

<template id="attributes">
    <fieldset>
        <legend>Attributes</legend>

        <csdots :value.sync="character.intelligence" :label="'Intelligence'" :min="1" :max="5"></csdots>
        <csdots :value.sync="character.wits" :label="'Wits'" :min="1" :max="5"></csdots>
        <csdots :value.sync="character.resolve" :label="'Resolve'" :min="1" :max="5"></csdots>
        
        <csdots :value.sync="character.strength" :label="'Strength'" :min="1" :max="5"></csdots>
        <csdots :value.sync="character.dexterity" :label="'Dexterity'" :min="1" :max="5"></csdots>
        <csdots :value.sync="character.stamina" :label="'Stamina'" :min="1" :max="5"></csdots>
        
        <csdots :value.sync="character.presence" :label="'Presence'" :min="1" :max="5"></csdots>
        <csdots :value.sync="character.manipulation" :label="'Manipulation'" :min="1" :max="5"></csdots>
        <csdots :value.sync="character.composure" :label="'Composure'" :min="1" :max="5"></csdots>

    </fieldset>
</template>

<script type="text/javascript">
    requirejs.config({
        baseUrl: 'js/lib',
        paths: {
            app: '../app',
            models: '../app/models',
            data: '../../data',
        }
    });
    requirejs([
            'vue'
        ],

        function(Vue) {
            console.log("Registering attributes template.")

            Vue.component('attributes', {
                model: {
                    prop: 'character'
                },
                props: ['character'],
                data: function() {
                    return this.character;
                },
                template: '#attributes',
                components: {},
                methods: {}
            });
        });
</script>