<!-- Usage:
    <skills v-model="character"></skills>
-->

<template id="skills">
    <fieldset>
        <legend>Skills</legend>
        <csdots v-for="skill in getskills()" key="skill.name" :value.sync="character[skill.name.toLowerCase()]" :label="skill.name"
            :min="0" :max="5"></csdots>

    </fieldset>
</template>

<script type="text/javascript">
    requirejs.config({
        baseUrl: 'js/lib',
        paths: {
            app: '../app',
            models: '../app/models',
            data: '../../data',
        }
    });
    requirejs([
        'vue',
        'json!data/skills.json'
    ],

        function (Vue, skills) {
            console.log("Registering skills template.")

            Vue.component('skills', {
                model: {
                    prop: 'character'
                },
                props: ['character'],
                data: function () {
                    return this.character;
                },
                template: '#skills',
                components: {},
                methods: {
                    getskills: function () {
                        return skills;
                    }
                }
            });
        });
</script>