{
    "name": "",
    "description": "",
    "type": "Reflexive/Instant/Extended",
    "target": "",
    "dicePoolOptions": [{
        "qualifier": "",
        "dicePool": ["", "", ""],
        "contested": ["", "", ""]
    }],
    "results": {
        "df": { "description": "" },
        "f": { "description": "" },
        "s": { "description": "" },
        "es": { "description": "" }
    },
    "suggestedEquipment": [""],
    "possiblePenalties": [""]
}